* {
    font-family: sans-serif;
}
body {
    background-color: darkslategray;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
}
a {
    color: blueviolet;
    text-decoration: none;
    transition: 0.5s;
}
a:visited {
    color: gray;
}
a:hover {
    color: aquamarine;
    text-decoration: underline
}
h1 {
    color: #ff000;
    font-family: sans-serif;
}
span {
    display: inline;
    margin: 15px;
    color: brown;

}


#container{
    margin-top:50px;
    margin-bottom: 50px;
    border: 1px solid grey;
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
}
#header{
    text-align:center;
    font-size:250%;
    color: brown;
    background-color: antiquewhite;
}
#header>span{
    padding: 25px;
    display:block;
}
#navbar{
    text-align: center;
    font-size:150%;
    padding: 15px;
    background-color: aliceblue;
    border-top: 2px dashed grey;
    border-bottom: 2px dashed grey;
}
#navbar a{
    margin: 0 30px; 
}
#main{
    background-color: floralwhite;
}
#content{ 
    display: inline-block;
    width: 1000px;
    text-align: justify;
    height: auto;
    background-color: bisque;
    
}
#akapit1, #akapit2{
    box-sizing: border-box;
    width:50%;
    padding:100px;
    line-height: 150%;
}
#akapit1 {
    float: left;
}
#akapit2 {
    float: right;
}
#sidemenu{
    line-height: 200%;
    display: inline-block;
    width: 150px;
    float:right;
}
#footer{
    border-top: 1px solid grey;
    padding:40px;
    font-size:18px;
    text-align: center;
    color:grey;
    font-style:italic;
    background-color: aliceblue;
    
}
/*LEKCJA 6 - ANIMACJE I TRANSFORMACJE*/
 