*{
    font-size:2rem;
    text-align: center;
    font-family: sans-serif;
    color: #444;
    background-color: grey;
}
body{
    padding:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;    
}
.box{
    background-color: grey;
    margin: 35px;
    padding: 30px;
    border: 7px solid #aaa;
    display:block;
    border-radius:25px;
    box-shadow: 5px 5px 10px #999;
    font-size: 1.7rem;
}